Brotli
certifi==2020.4.5.1
chardet==3.0.4
click==7.1.2
#dash==1.12.0
#dash-core-components==1.10.0
#dash-html-components==1.0.3
#dash-renderer==1.4.1
#dash-table==4.7.0
#Flask==1.1.2
Flask-Compress
future
#gunicorn==20.0.4
idna==2.9
itsdangerous
Jinja2
MarkupSafe
#numpy==1.18.4
#pandas==1.0.3
Pillow==7.1.2
#plotly==4.8.0
python-dateutil
pytz
#requests==2.23.0
retrying
scipy
six==1.15.0
torch==1.5.0
torchvision==0.6.0
#urllib3==1.25.9
#Werkzeug==1.0.1
