body {
    color: #888;
    font-family:  serif;
    font-size:15px;
}

.axis {
    font: 12px sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: #aaa;
    shape-rendering: crispEdges;
}

.axis text {
    fill: #858585;
}

.title {
    font: 500 100px serif;
    fill: #e5e5e5;
}

.party {
    font: 500 35px serif;
    fill: #e5e5e5;
}

.incr {
    font: 500 35px serif;
    fill: #e5e5e5;
    cursor: pointer;
}

.incr:hover {
    fill: #ccc;
}

.circle {
    stroke: white;
    stroke-width: 0.2px;
    cursor: pointer;
    fill-opacity: 0.9;
}
.circle:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

.circle:hover {
    fill-opacity: 0.8;
}

#searchform {
    padding-bottom: 5px;
}

#formholder {
    position: absolute;
    right: 50px;
    top: 25px;
}

.incrbtn {
    font: 500 30px serif;
    cursor: pointer;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    color: #e5e5e5;
}

.incrbtn:hover {
    color: #ccc;
}

#upclick {
    position: absolute;
    left: 55px;
    bottom: 160px;
}

#downclick {
    position: absolute;
    left: 55px;
    bottom: 125px;
}

#select {
    padding:5px 0px;
}